@media screen and (max-width: 767px) {
    body {
        font-size: 24px;
    }
    .container, .container-fluid, .footer_black, .header_black{
        min-width:640px;
    }
    .header_black,.header_black .money, .header_black input, .header_black .btn, .menu_small,
    .input-group > input{
        height: 96px;
    }
    .header_black .form{
        padding: 0 15px 0 79px;
        background:url(../images/small/search.png) no-repeat 14px 17px;
    }
    .header_black .money .btn{
        font-size:125%;
        padding:30px 12px;
    }
    .money  .dropdown-menu, .basket {
        min-width:96px;
        font-size:125%;
    }
    .margin img{
        margin:0 auto;
    }
    div.basket:last-child {
        border-top: 1px solid #d6d6d6;
        height: 96px;
        padding: 26px;
        font-size: 125%;
    }
    div.basket:last-child>img{
        width:60px;
        height:auto;
    }
    .menu_small .btn, .footer_black .btn{
        font-size:230%;
    }
    .footer_black .btn{
        background:#000;
    }
    .menu_small .dropdown-menu li, .footer_black .dropdown-menu li{
        width:300px;
        font-size:170%;
    }
    .footer_black .dropdown-menu>li>a:hover{
        background:#000!important;
        color:#fff;
    }
    .block_socicon{
        background:none;
    }
    .input-group > input{
        font-size:125%;
        background:#ededed;
        padding:20px;
    }
    .block_socicon .btn.btn-default{
        height:96px;
        width:96px;
        border-bottom:8px solid #dd6b44;
    }
    .block_socicon .btn.btn-default>span{
        font-size:300%;
    }
    .block_socicon .col-xs-12+.col-xs-12>.pull-right{
        height:88px;
        width:497px; 
        float:none!important;
        margin:25px auto;
        font-size:125%;
    }
    .block_socicon p {
        margin: 30px 38px;
    }
    .block_socicon .col-xs-12+.col-xs-12>.pull-right a{
        width: 88px;
        height: 88px;
        padding: 23px;
        font-size: 166%;
        margin:0 -4px;
        background:#ededed;
    }
    .sale{
        max-width:274px;
        font-size:60%;
      }
    .my_btn input{
        background:url(../images/small/btn.png) no-repeat;
        height:68px;
        width:220px;
        border:none;
        margin:0 27px;
    }
    .btn.black{
        background:#000;
        width:220px;
        height:60px;
        font-size:85%;
        margin:30px auto 36px;
        display:block;
    }
    .footer_black{
        height:108px;
    }
}
 .xs_gray{
    background-color:#fafafa;
    color:#999;
    font-size:125%;
    padding:24px 0 20px;
    text-align:center;
    
}
 #bagAdd_1,#bagAdd_2 {
     display:none;
 }
